.image {
  height: 400px;
  width: 260px;
  justify-content: center;
  display: block;
  margin: 0 auto;
}

.image-size .MuiCardMedia-root {
  background-size: contain !important;

}

.card {
  display: block;
  margin: 0 auto;
  justify-content: center;
  max-width: 340px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 8px;
}
