.search-bar {
  border-style: solid;
  border-width: 9px;
  border-color: #8b2eff;
  background-color: #ebdbff;
  border-radius: 290486px;
  padding-left: calc(1em + 0.25em);
  padding-right: calc(1em + 0.25em);
  display: flex;
  width: 90%;
  margin: 0 auto;

  input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: #8b2eff;
    font-family: 'Rubik', sans-serif;
    border-bottom: none;

    &:focus {
      border-bottom: none !important;
      box-shadow: none !important;
    }
  }
}

.search-font {
  font-size: 34px;
  font-family: 'Rubik', sans-serif;
}

